{% extends 'blog/base.html' %}
{%block content%}
<h1 class="posttitle loader">{{post.title}}</h1>
{%if post.published_date%}
    <div class="date postdate">{{post.published_date}}</div>
{% else %}
<a class="btn btn-default" href="{% url 'post_publish' pk=post.pk%}">Publish</a>
{%endif%}
<p class="post content">{{post.text|safe|linebreaks}}</p>
{% if user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk%}">
    <span class="glyphicon glyphicon-pencil"></span>
</a>
<a class="btn btn-primary" href="{% url 'post_remove' pk=post.pk%}">
    <span class="glyphicon glyphicon-remove"></span>
</a>
{%endif%}
<hr>
<!--<a href="{%url 'add_comments_to_post' pk=post.pk %}" class="btn btn-primary btn-comment">Add Comment</a>-->

<form class="post-form" method="post">
    <h3>Leave a comment:</h3>
    <br>
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit" class="save btn btn-default">Send</button>
    <a href="{% url 'post_list' %}"><button type="button" class="save btn btn-default">Cancel</button></a>
</form>
<script>var editor=new MediumEditor('editable');</script>
<div class="container">
    {% for comment in post.comments.all%}
    <hr>
    {% if user.is_authenticated or comment.approved_comment%}
    {{comment.created_date}}
    {% if not comment.approved_comment %}
    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk%}">
    <span class="glyphicon glyphicon-remove"></span>
    </a>
    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk%}">
    <span class="glyphicon glyphicon-ok"></span>
    </a>
    {% endif %}
    <p>{{comment.text|safe|linebreaks}}</p>
    <p>Posted by: {{comment.email}}</p>
    {% endif %}
    {%empty%}
    <hr>
    <p>No Comments</p>
{% endfor%}
</div>
{% endblock %}